{
/*Цвет для заднего фона	*/
	background: violet;
/*Все строчные объекты разместить по центру	*/
	text-align: center;
}

.wrapper{
/*Создаем ширину блока (можно указать свою)	*/
	width: 150px;
/*Создаем отступ верх/низ - 50px, лево/право - авто	*/
	margin: 50px auto;
/*Относительное позиционирование, нужно, для нормальной работы
будущей анимации 	*/
	position: relative;
/*border - Рамка, толщиной 5 пикселей, цветом черным 
и прозрачностью 20%	*/
	border: solid 5 px rgba(255, 255, 255, 0.8);
/*Если картинка вылазит за ширину блока(350 пикселей), она обрежется	*/
	overflow: hidden;
}
.wrapper a img{
	width: 100%;
}
.wrapper a{
/*убираем синий текст и черту под ссылкой	*/
	text-decoration: none;
/*цвет текста - белый (можно указать свой)	*/
	color: white;
/*блочный формат отображения(не будет перемещаться
 по странице, при масштабировании)	*/
	display: block;
}
.text{
/*позиция absolute - главнее, чем позиция relative. Это дает
нам то, что текст можно расположить поверх картинки и 
спрятать его от пользователя при помощи свойства прозрачности
opacity:0;	*/
	position: absolute;
/*Отступ сверху нуль пикселей	*/
	top: 0;
/*Отступ слева нуль пикселей	*/
	left: 0;
	padding: 30px 40px;
	opacity: 0;
/*уровень, на котором мы располагаем текст(100 чисто по приколу 
написал, хватило бы и единицу)	*/
	z-index: 100;
/*Время анимации = 0.5 секунды, а ease - характер её воспроизведения	*/
	transition: 0.5s ease;
/*Дополнительно почитать про характер воспроизведения:

https://developer.mozilla.org/en-US/docs/Web/CSS/transition-timing-function

*/
}
/*before и after - это псевтоклассы, в которых мы записываем необходимые для
анимации свойства. Это как заготовка для будущей "шторки"*/
.wrapper a:before,
.wrapper a:after{
/*Свойство, при момощи которого можно добавлять эл-ты на страницу
(в основном текст.). Мы специально сделали его без контента, чтобы	
просто создать темный блок*/

/*одинарные кавычки = Э (на англ. раскладке)*/
	content: ''; 
	position: absolute;
	width: 200%;
	height: 200%;
	transition: 0.5s ease-in-out;
/*Смешение цветов, которое затемняет полученный микс*/
	mix-blend-mode: darken;
}
/*создаем нижнюю шторку*/
.wrapper a:before{
	right: 0;
	bottom: -100%;
/*rgba - расшифровыввается, как red, green, blue,
 альфа(прозрачность)	*/
	background: rgba(230, 12, 50, 0.8);
/*transform - CSS-свойство, которое позволяет вам 
поворачивать(rotate), масштабировать(scale), наклонять(skew) или 
сдвигать элемент(translate). При желании загугли	*/
	transform: skew(-45deg) translateX(100%);
}
/*Создаем верхнюю шторку*/
.wrapper a:after{
	left: 0;
	top: -100%;
	background: rgba(11, 72, 174, 0.8);
/*deg - это градусы(от англ. degrees)	*/
	transform: skew(135deg) translateX(-100%);
}

/*активируем анимацию.
псевдокласс :hover запускает анимацию при наведении*/
.wrapper:hover a:before{
	transform: skew(-45deg) translateX(0%);
}
.wrapper:hover a:after{
	transform: skew(135deg) translateX(0%);
}
.wrapper:hover .text{
	opacity: 1;
}
